
body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    background-color: #1f2937;
    }

.logo{
    align-self: center;
    padding-left: 150px;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
    }

.navi{
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    column-gap: 20px;
    margin-right: 125px;
}

.below{
    display:flex;
    background-color:#1f2937;
    


}

.belowtext{
    color: #e5e7eb;
    display: flex;
    padding: 20px ;
    background-color:#1f2937;
    padding-top: 0px;
    padding-left: 150px;
    padding-bottom: 10px;
    }

.signup{
    display: flex;
    padding-left: 50px;
    background-color: #1f2937;
    padding-bottom: 20px;
    padding-left:150px;
}

.awe{
   font-size: 48px;
   font-weight: bold;
   color: #e5e7eb;
   padding:50px;
   padding-bottom: 10px;
   padding-right: 0px;
   padding-left:150px;
 
   
}
.headerawe{
    padding-top: 50px;

}


button{
    background-color: #3882f6 ;
    color:#F9FAF8;
    border: none;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px;
   width: 100px;
}

.img img[src="images/blue-water.jpg"] {
    height: 300px;
    width:500px ;
    margin-left:25px;
    padding-top: 65px;
    padding-bottom: 50px;
    border: 5px;
}

.img{
    display: flex;
    align-self: flex-end;
}

.middle{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.headerpink{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
      padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.objective{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   margin-top: 10px;
   margin-bottom: 20px;
}


.objective img{
    height:100px;
    width:auto;
    border-radius: 4px;
   
}

.why{
    display:flex;
    font-size: 14px;
    color: #85878b;
    
}

.quote{
    background-color: #e5e7eb;
    padding:50px;
}

.bey{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.beyonce-quote{
    display:flex;
    justify-content: flex-end;
    font-weight: bold;
    padding-right: 80px;
    padding-top: 30px;
}

.cta{
    background-color:#3882f6 ;
    margin:50px;
    padding:40px;
    display:flex

}

.quick{
    font-size:24px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign{
    margin-left: 500px;
    margin-top: 4px;
    color: #F9FAF8;
}

.sign div {
    border-width: 2px;
    border-style: solid;
    border-color: #F9FAF8;
    padding:10px;
    border-radius: 4px;
}


.footer{
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 30px;
}
